@page "{id:int}"
@model IndexModel
@{
    ViewData["Title"] = "Program " + Model.Program.ProgramNumber;
}

<div id="programDiv">
    <div class="row justify-content-center">
        <div class="spinner-border"></div>
    </div>
</div>

<script type="text/javascript">

    function loadProgram() {
        $.ajax({
            type: "GET",
            url: "/Program/@Model.Program.ProgramNumber?handler=LoadProgram",
            data: {
                "programId": @Model.Program.Id
            },
            contentType: 'application/json; charset=utf-8"',
            success: function (result) {
                if (result) {
                    editing = false;
                    $("#programDiv").html(result);
                } else {
                    location.href = "/Program/@Model.Program.ProgramNumber"
                }
            }
        });
    }
    
    window.onload = function() {
        loadProgram();
    };

</script>
