:root {
    --primary-green: #006930;
    --light-green: #37935E;
}

#navbar {
    background-color: var(--primary-green);
}

html, body {
    height: 100%;
    position: relative;
}

.main-container {
    min-height: 100vh;
    display: block;
    position: relative;
    /*padding-bottom: 350px; !* Exact height of the footer *!*/
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    color: grey;
}

.link-card {
    cursor: pointer;
}

.sticky {
    position: fixed;
    bottom: 0;
}

.modal-list-group {
    margin: -1rem;
    border: 0;
}

.half-form-input {
    padding-right: 0;
}

.inline-btn-link {
    padding: 0;
}

.lato-regular {
    font-family: "latoregular", sans-serif;
}

.lato-light {
    font-family: "latolight", sans-serif;
}

.lato-bold {
    font-family: "latobold", sans-serif;
}

.chunkfive-ex {
    font-family: "chunkfive_exregular", serif;
}

.header-collapse-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.25rem;
}

.compact-card-body {
    flex: 1 1 auto;
    padding: 0.5rem;
}

.bg-light-green {
    /* The primary green color, but 20% opacity */
    background-color: rgba(0, 126, 55, 0.2);
}
