@page
@model IndexModel
@{
    ViewData["Title"] = "Centerstudenter";
}

<div class="row">
    @foreach (var c in Model.Committees.OrderBy(c => c.CommitteeNumber))
    {
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card link-card" onclick="location.href='/Kommitteer/@c.CommitteeNumber'">
                <div class="card-body">
                    <h5 class="card-title">@c.FullName()</h5>
                    <p class="card-text">
                        @c.Description
                    </p>
                </div>
            </div>
        </div>
    }
</div>
