@model CsAspnet.Models.dbcontext.Motion

@*TODO både add- och edit motion, watermark i fälten*@

<h4 class="text-break">
    @* Admin edit button for the motion *@
    @if (User.Identity.IsAuthenticated)
    {
        @*TODO radera motioner*@
        <button class="btn btn-link inline-btn-link" onclick="editMotion(this, @Model.Id)">
            <i class="mdi mdi-edit"></i>
        </button>
    }
    Motion @Model.FullName()
</h4>


@foreach (var p in Model.MotionText.Split('\n'))
{
    <p>@p</p>
}

@foreach (var att in Model.AttProposition.OrderBy(a => a.AttPropositionNumber))
{
    <div id="a-@Model.Id-@att.Id">
        @{
            await Html.RenderPartialAsync("_Att", att);
        }
    </div>
}
@if (User.Identity.IsAuthenticated)
{
    await Html.RenderPartialAsync("Admin/Att/_AddAttButton", @Model.Id);
}
@*TODO lägg till fler att-satser*@
@*TODO redigera att-satser*@
@*TODO radera att-satser*@
