@* Model motionId, nextNumber *@
@model Tuple<int, int>
@{
    int motionId = Model.Item1;
    int nextNumber = Model.Item2;
}

<div class="row">
    <div class="form-group half-form-input col-2">
        <input class="form-control" type="number" placeholder="Nummer" id="newAttNumber"
               value="@nextNumber"/>
    </div>
    <div class="form-group col-10">
        <textarea class="form-control" type="text" onkeyup="autoResize(this)" placeholder="Att-sats" id="newAttText"></textarea>
    </div>
    <div class="form-group col-12">
        <div class="input-group">
            <select class="form-control" type="text" value="" id="newAttVoteSuggestion">
                <option value="">Centerstudenter föreslår:</option>
                <option value="BIFALL">Bifall</option>
                <option value="AVSLAG">Avslag</option>
                <option value="INSTAM">Instäm i intentioner</option>
            </select>
            <div class="input-group-append">
                <div class="input-group-text">
                    Motförslag mot PS:&nbsp;<input type="checkbox" id="newAttVoteSuggestionAgainstPs"/>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="col-12">
        <div class="btn-toolbar pull-right">
            <button class="btn btn-secondary" style="margin-right: 0.5em;" onclick="cancelAddAtt(this, @motionId)">
                Avbryt
            </button>
            @Html.AntiForgeryToken()
            <button class="btn btn-success" onclick="addNewAtt(this, @motionId)">
                Spara
            </button>
        </div>
    </div>
</div>


<script type="text/javascript">

    function addNewAtt(button, motionId) {
        
        // Spin the button immediately.
        var oldButtonHtml = $(button).html();
        $(button).html(buttonSpinner + oldButtonHtml);
        
        // Invert to ps agrees.
        var psAgrees = true;
        if ($("#newAttVoteSuggestionAgainstPs").prop("checked") == true) {
            psAgrees = false;
        }
        
        // Add the motion.
        $.ajax({
            traditional: true,
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: "/Admin/?handler=SaveAtt",
            data: JSON.stringify({
                "AttId": 0,
                "MotionId": motionId,
                "Number": $("#newAttNumber").val(),
                "Text": $("#newAttText").val(),
                "VoteSuggestion": $("#newAttVoteSuggestion option:selected").val(),
                "PsAgrees": psAgrees
            }),
            contentType: 'application/json; charset=utf-8"',
            success: function(result) {
                if (result.result) {
                    loadMotions();
                } else {
                    alert(result.message);
                    $(button).html(oldButtonHtml);
                }
            }, error: function() {
                alert("Okänt fel, prova att ladda om sidan");
                $(button).html(oldButtonHtml);
            }
        });
    }
    
    $(document).ready(function() {
        $("#newAttNumber").focus();
        $("#newAttText").keyup();
    })
    
</script>

