@* Model: motion id *@
@model int

<div id="newPsAttDiv-@Model">
    <button class="btn btn-link" onclick="addAtt(this, @Model, 2)">
        <i class="mdi mdi-add"></i> Ny att-sats från partistyrelsen
    </button>
</div>
