@* Model motionId, nextNumber *@
@model Tuple<int, int, int>
@{
    int motionId = Model.Item1; // or program id...
    int nextNumber = Model.Item2;
    int attType = Model.Item3;
    // 0: att-sats.
    // 1: tilläggsyrkande.
    // 2: ps att-sats.
    // 3: program att.
    // 4: program tilläggsyrkande.
}

<div class="row">
    @{
        string col;
        
        if (attType == 1 || attType == 4)
        {
            // Tilläggsyrkande.
            col = "8";
            <div class="form-group half-form-input col-4">
                <input class="form-control" type="text" placeholder="Avsändare" id="additionalAttAuthor"/>
            </div>
            
            // Hidden input for the ajax post.
            <input id="newAttNumber" value="0" hidden/>
        }
        else if (attType == 2)
        {
            col = "12";

            // Hidden inputs for the ajax post.
            <input id="newAttNumber" value="-1" hidden/>
            <input id="additionalAttAuthor" value="" hidden/>
        }
        else // if attType == 0 || attType == 3
        {
            // Att-sats.
            col = "10";
            <div class="form-group half-form-input col-2">
                <input class="form-control" type="number" placeholder="Nummer" id="newAttNumber"
                       value="@nextNumber"/>
            </div>
            
            // Hidden input for the ajax post.
            <input id="additionalAttAuthor" value="" hidden/>
        }
    }
    
    <div class="form-group col-@col">
        <textarea class="form-control" type="text" onkeyup="autoResize(this)" placeholder="Att-sats" id="newAttText"></textarea>
    </div>
    <div class="form-group col-sm-6" id="half-form">
        <select class="form-control" type="text" value="" id="newAttVoteSuggestion">
            <option value="">Centerstudenters förslag:</option>
            <option value="BIFALL">Bifall</option>
            <option value="AVSLAG">Avslag</option>
            <option value="INSTAM">Instäm i intentioner</option>
        </select>
    </div>
    <div class="form-group col-sm-6">
        <select class="form-control" type="text" value="" id="newAttMainProposal">
            <option value="">Huvudförslag:</option>
            <option value="BIFALL">Bifall</option>
            <option value="AVSLAG">Avslag</option>
            <option value="INSTAM">Instäm i intentioner</option>
        </select>
    </div>

    <div class="col-12">
        <div class="btn-toolbar pull-right">
            <button class="btn btn-secondary" style="margin-right: 0.5em;" onclick="cancelAddAtt(this, @motionId, @attType)">
                Avbryt
            </button>
            @Html.AntiForgeryToken()
            <button class="btn btn-success" onclick="addNewAtt(this, @motionId, @attType)">
                Spara
            </button>
        </div>
    </div>
</div>


<script type="text/javascript">

    function addNewAtt(button, motionId, attType) {
        
        // Spin the button immediately.
        var oldButtonHtml = $(button).html();
        $(button).html(buttonSpinner + oldButtonHtml);
        
        var isProgramAtt = attType == 3 || attType == 4;
        
        // Add the motion.
        $.ajax({
            traditional: true,
            type: "POST",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: "/Admin/?handler=SaveAtt",
            data: JSON.stringify({
                "AttId": 0,
                "MotionId": motionId,
                "Number": $("#newAttNumber").val(),
                "Text": $("#newAttText").val(),
                "VoteSuggestion": $("#newAttVoteSuggestion option:selected").val(),
                "MainProposal": $("#newAttMainProposal option:selected").val(),
                "AdditionalAttAuthor": $("#additionalAttAuthor").val(),
                "IsProgramAtt": isProgramAtt
            }),
            contentType: 'application/json; charset=utf-8"',
            success: function(result) {
                if (result.result) {
                    if (isProgramAtt) {
                        loadProgram();
                    } else {
                        loadMotions();
                    }
                } else {
                    alert(result.message);
                    $(button).html(oldButtonHtml);
                }
            }, error: function() {
                alert("Okänt fel, prova att ladda om sidan");
                $(button).html(oldButtonHtml);
            }
        });
    }
    
    function setFormPadding() {
        if (isBreakpoint("sm")) {
            $("#half-form").addClass("half-form-input");
        } else {
            $("#half-form").removeClass("half-form-input");
        }
    }
    
    $(document).ready(function() {
        $("#newAttText").focus();
        $("#newAttText").keyup();
        
        setFormPadding();
        window.addEventListener("resize", setFormPadding);
    });
    
</script>
